%h1= @term.name
%h3 Linked Terms
%table.table.linked_terms
  - @term.links.each do |link|
    %tr
      %td= link.linked_term.name
      %td= link.linked_term_counter
      %td= link.linking_term_counter
      %td= link.categories.map(&:name).join(', ')
